@model VPNET.Data.Model.Productos
@{
    ViewData["Title"] = "ProductoDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="data:image/png;base64,@Model.Imagen" alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="data:image/png;base64, @Model.Imagen" alt="Product Image 1"/>
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">@Model.Nombre</h1>
                        <p class="h3 py-2">$@decimal.Round(Model.Precio,2)</p>
                        
                        <h6>Descripcion:</h6>
                        <p>@Model.Descripcion</p>
                       
                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                   
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                            <div class="row pb-3">
                                
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" onclick="AgregarAlCarro(@Model.Id)" value="addtocard">Agregar al carrito</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->
<!-- Start Article -->
<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Related Products</h4>
        </div>
    </div>
</section>
<!-- End Article -->
<script src="~/js/jquery-1.11.0.min.js"></script>
<script>

    $(document).ready(function () {



    });
    function AgregarAlCarro(id) {
        debugger
        event.preventDefault();


            $.ajax({
                type: "POST",
                url: '@Url.Action("AgregarAlCarrito", "Home")',
                data: { IdProducto: id, Cantidad: 1 },
                success: function (data) {
                    if (data.result == true) {
                        swal("Agregador al carrito correctamente", "", "success");
                    } else {
                        swal("Error al agregar al carrito", "", "danger");
                    }
                }
            });
    }
</script>